<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Ingenium</title>
		<link rel="icon" type="image/png" sizes="28x28" href="/favico.png">
		<link rel="stylesheet" href="/css/standard.css">

		<meta name="application-name" content="Ingenium" />
		<meta name="description" content="Conecta con matemáticos e ingenieros como tú. Comparte tus aportes, proyectos y descubrimientos de forma clara y útil. No dejes que tu trabajo se pierda: publícalo con ejemplos prácticos y muestra cómo puede ser aplicado por otros. ¡Haz visible tu conocimiento y transforma la comunidad!">
		<meta name="keywords" content="Ingenium, matemáticas, ingeniería, red social para matemáticos e ingenieros, publicar, artículo">

		<style>
			.banner {
				padding: 70px 0;
				background: no-repeat center center;
				background-size: cover;
				background-image: url('/img/banner.jpg');
			}
		</style>

		<!--KaTeX-->
		<link rel="stylesheet" href="/katex/katex.min.css">
		<script defer src="/katex/katex.min.js"></script>
		<script defer src="/katex/contrib/auto-render.min.js"></script>
		<script>
			// JS seguro aquí
			window.addEventListener('load', () => renderMathInElement(document.body))
		</script>

	</head>
	<body>
		<header>
			<%- include('components/nav') %>
				<% if (posts.posts) { %>
					<div style="height: 40px; background-color: var(--colorA);"></div>
				<% } else { %>
					<div class="banner">
						<div class="presentation">
							<div class="text">
								<h1>Ingenium</h1>
								<h2>Red social para matemáticos e ingenieros</h2>
							</div>
							<div class="img">
								<img src="/img/ico/ingenium.svg" alt="Ingenium logo">
							</div>
						</div>
					</div>
				<% } %>
		</header>
		<main>
			<%- include('components/posts') %>
			<!--
			<script src="js/get_posts.js"></script>
			-->
		</main>
	</body>
</html>