<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>LibrerIA</title>
		<link rel="shorcut icon" type="image/x-icon" href="/img/ico/ico.svg">
		<link rel="stylesheet" href="/css/standard.css">

		<style>
			.banner {
				height: 40vh;
				background: no-repeat center center;
				background-size: cover;
				background-image: url('/img/banner.jpg');
			}
		</style>

		<!--KaTeX-->
		<link rel="stylesheet" href="/katex/katex.min.css">
		<script defer src="/katex/katex.min.js"></script>
		<script defer src="/katex/contrib/auto-render.min.js"></script>
		<script>
			// JS seguro aquí
			window.addEventListener('load', () => renderMathInElement(document.body))
		</script>

	</head>
	<body>
		<header>
			<%- include('components/nav') %>
			<div
				<% if (posts.posts) { %>
					style="height: 40px; background-color: var(--colorA);"
				<% } else { %>
					class="banner"
				<% } %>
			></div>
		</header>
		<main>
			<%- include('components/posts') %>
			<!--
			<script src="js/get_posts.js"></script>
			-->
		</main>
	</body>
</html>