<link rel="stylesheet" href="/css/components/post.css">
<script>
	(function adjustTypography() {
		if (!/Firefox/.test(navigator.userAgent)) return
		if (/Mobile/.test(navigator.userAgent)) return

		const style = document.createElement('style')
		style.innerHTML = "@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');"
		const body = document.getElementsByTagName('body')[0]
		body.appendChild(style)
	}())
</script>

<div class="publication">
	<div class="left_particles"></div>
	<div class="right_particles"></div>
	<div class="down_particles"></div>
	<div class="higher_particles">
		<div class="top_edge_container">
			<div class="background_gradient_a"></div>
			<div class="controls_group">
				<div class="buttons">
					<button id="btn_previous_page">
						<img src="/img/ico/pagination_left_arrow.svg">
					</button><button id="btn_next_page">
						<img src="/img/ico/pagination_right_arrow.svg">
					</button>
				</div>
			</div>
		</div>
		<div class="gradient_container"></div>
	</div>
	<div class="lower_particles">
		<div class="background_gradient_b"></div>
		<article>
			<%- publication.content %>
		</article>
	</div>
</div>

<script src="/js/show_post.js"></script>
